:root{
    --cor-background-primaria: #282a36;
    --cor-background-secundaria: #44475a;
    --cor-primaria: #ffffff;
    --cor-secundaria: #6272a4;
    --cor-terciaria: #8be9fd;
    --cor-quartenaria: #50fa7b;
    --cor-quintenaria: #ffb86c;
    --cor-seis: #ff79c6;
    --cor-sete: #bd93f9;
    --cor-oito: #ff5555;
    --cor-nove: #f1fa8c;
}

